
.bazar-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin: 30px 0;
    position: relative;
    
}

.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin: 0px  50px;
}

.cart-container{
  background-color: #282c3441;
  padding: 10px;
  border-radius: 10px;
  height: 500px;
  position: sticky;
  top: 0;
}

.all-btn{
  display:  flex;
  justify-content: space-between;
}

.all-btn button{
  padding: 10px;
  border: 3px solid #66339993;
  border-radius: 5px;
  font-weight: 500;
}

@media screen and (max-width:500px) {
    .products-container, .bazar-container{
        grid-template-columns: repeat(1, 1fr);
    }
}