.product{
    padding: 20px 0;
    border: 1px solid #000000;
    background-color: #282c3441;
    
}
.product img{
    width: 286px;
    height: 286px;
    border-radius: 5px;
    margin:  0 15px;
}
.product-info{
    margin: 0 8px;
}

.btn{
    width: 100%;
    background-color: #ffa500;
    border: 0;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-text{
    margin-right: 10px;
}